.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  width: 100%;
  /* padding-right: var(--bs-gutter-x,.75rem); */
  /* padding-left: var(--bs-gutter-x,.75rem); */
  /* margin-right: auto; */
  /* margin-left: auto; */
}


.flex-main{
 display: flex;
 flex: 1;
 height: 880px;
}

.flex-nav{
  background-color: #B95F21;
  padding-top: 3rem;
  flex: 1 1 5rem;
}

.flex-article{
  background-color: #81A43C;
  padding-top: 3rem;
  flex: 3 3;
}

.flex-aside{
  background-color: #B95F21;
  padding-top: 3rem;
  flex: 1 1 5rem;

}

.flex-footer{
  background-color: #5070b5;
  padding-bottom: .45rem;
}

.container{

}

@media (min-width: 1400px){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {

    max-width: 100%;
    padding: 0;

  }
}

@media all and (max-width: 1400px){
  .flex-main{
    flex-direction: column;
  }
}